.slots {
    background-color: rgba(0, 0, 0, 0.38);
    width: 100px;
    height: 125px;
    -unity-background-scale-mode: scale-to-fit;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-top: 19px;
    margin-right: 19px;
    margin-bottom: 19px;
    margin-left: 19px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    border-bottom-left-radius: 19px;
}

.item {
    background-color: rgba(80, 79, 79, 0);
    font-size: 0;
    border-left-color: rgba(255, 0, 0, 0);
    border-right-color: rgba(255, 0, 0, 0);
    border-top-color: rgba(255, 0, 0, 0);
    border-bottom-color: rgba(255, 0, 0, 0);
    width: 85%;
    height: 100%;
    -unity-background-scale-mode: scale-to-fit;
    transition-property: opacity;
    transition-timing-function: ease-in;
    transition-duration: 0.5s;
}


.hidden {
    opacity: 0;
    display: none;
}

.visible {
    opacity: 1;
    display: flex;
}

.container {
    opacity: 1;
    bottom: 0;
    transition: opacity 0.2s ease-out, left 0.2s ease-out;
}

.container-hidden {
    opacity: 0;
    bottom: -40px;
}